@model List<Variant>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button onclick="location.href='/home/parameters/0'" type="button" class="btn btn-primary">Новый расчёт</button>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Номер варианта</th>
                @foreach(var param in Formulas.Data.GetParameters())
                {
                    <th>@param.Name</th>
                }
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach(Variant variant in Model)
                {
                    <td>@variant.Id</td>
                    @foreach(var param in Formulas.Data.GetParameters(variant))
                    {
                        <td>@param.Value</td>
                    }
                    <td><a href="/home/parameters/@variant.Id">Расчёт</a></td>
                }
            </tr>
        </tbody>
    </table>
</div>
